<h2>Show shopping list</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @shopping_list.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @shopping_list.description %>
  </li>

  <li>
    <strong>Completed:</strong>
    <%= @shopping_list.completed %>
  </li>

</ul>

<%= link "Edit", to: user_shopping_list_path(@conn, :edit, @user, @shopping_list) %>
<%= link "Back", to: user_shopping_list_path(@conn, @user, :index) %>
