<h1>Users</h1>
<table class="table">
  <tr>
    <td>Email</td>
    <td>Username</td>
    <td>Password </td>
    <td>Name </td>
  </tr>
  <%= for user <- @users do %>

    <tr>
      <td><%= user.email %> </td>
      <td><%= user.username %> </td>
      <td><%= user.password_hash %> </td>
      <td><%= user.name %> </td>

    </tr>
  <% end %>
</table>
